<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/header.ejs') %>
</head>
<body>
<%- include('../partials/nav.ejs') %>
<table class="pure-table">
    <thead>
    <tr>
        <th>name</th>
        <th>豆瓣</th>
        <th>updated</th>
    </tr>
    </thead>
    <tbody>
    <% rows.forEach(function(row){ %>
    <tr>
        <td><a target="_blank" href="http://shaw.sg/sw_moviedetails.aspx?filmCode=<%= row.code %>"><%= row.name %></a></td>
        <td><%= row.name_cn %> 
            <a class="pure-button <%= row.score >= 7 ? 'score-high' : row.score >= 6 ? 'score-good' : row.score >= 5 ? 'score-medium' : 'score-low' %>" 
               target="_blank" 
               href="<%= row.url %>"><%= row.score %></a>
        </td>
        <td><%= new Date(row.updated).toLocaleString('en-US', {timeZone: 'Asia/Singapore'}) %></td>
    </tr>
    <% }); %>
    </tbody>
</table>
</body>
</html>
